In [2]:
!pip install pandas

import pandas as pd

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.2.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (89 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 89.9/89.9 kB 3.3 MB/s eta 0:00:00
Collecting numpy>=1.23.2 (from pandas)
  Downloading numpy-2.1.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (60 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 60.9/60.9 kB 3.8 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in /home/cristiano/.local/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.1/13.1 MB 46.0 MB/s eta 0:00:0000:0100:01
Downloading numpy-2.1.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.3/16.3 MB 42.3 MB/s eta 0:00:0000:0100:01
Using cached pytz-2024.2-py2.py3-none-any.whl (508 kB)
Using cached tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.1.2 pandas-2.2.3 pytz-2024.2 tzdata-2024.2

[notice] A new release of pip is available: 24.1 -> 24.2
[notice] To update, run: pip install --upgrade pip

In [3]:
df = pd.read_csv('/home/cristiano/ufpr/tcc/MICRODADOS_ENEM_2022.csv', sep=';', encoding='ISO-8859-1')

:

In [12]:
descartar = [
    'NU_INSCRICAO', 
    'NU_ANO', 
    'TX_RESPOSTAS_CN', 
    'TX_RESPOSTAS_CH', 
    'TX_RESPOSTAS_LC',
    'TX_RESPOSTAS_MT',
    'TX_GABARITO_CN', 
    'TX_GABARITO_CH',
    'TX_GABARITO_LC', 
    'TX_GABARITO_MT', 
    'TP_ENSINO',              
    'CO_MUNICIPIO_ESC',       
    'NO_MUNICIPIO_ESC',       
    'CO_UF_ESC',              
    'SG_UF_ESC',              
    'TP_DEPENDENCIA_ADM_ESC', 
    'TP_LOCALIZACAO_ESC',     
    'TP_SIT_FUNC_ESC',        
    'CO_PROVA_CN',            
    'CO_PROVA_CH',            
    'CO_PROVA_LC',            
    'CO_PROVA_MT'
]

In [16]:
new_df = df[descartar]

,NU_INSCRICAO,NU_ANO,TX_RESPOSTAS_CN,TX_RESPOSTAS_CH,TX_RESPOSTAS_LC,TX_RESPOSTAS_MT,TX_GABARITO_CN,TX_GABARITO_CH,TX_GABARITO_LC,TX_GABARITO_MT,...,NO_MUNICIPIO_ESC,CO_UF_ESC,SG_UF_ESC,TP_DEPENDENCIA_ADM_ESC,TP_LOCALIZACAO_ESC,TP_SIT_FUNC_ESC,CO_PROVA_CN,CO_PROVA_CH,CO_PROVA_LC,CO_PROVA_MT
0,210057943671,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,210057516120,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,210057280536,2022,DCDCEBADDABEDBCBEAEACCDDECEEBECBECAAECDDDDBCE,DBDABCADADECACBDCCEDACCCECDDABDCEADABCBCBAEAB,ABEABADCCADCAAAACDADDCECBAAACADABDEBCBCAAACEB,BDEBACECBCAEBABEDBABDACBCABCDEDEADBAABCBEACCD,DDECDBEACCAEBEAEBBCCDDCBDDACBEACEABCEABEDADBA,ECBABCDDAAECBCBECAEBAEACDEEDABBCDDEABCEDAAADB,DECDBDCEAADDBCABEDCAAADCCECEEBABEEAAABDBCCCABE...,BEEDAEABDDCEBDBAAAAACXCBCCCBCCDBDEECBDCABEECD,...,NaN,NaN,NaN,NaN,NaN,NaN,1087.0,1056.0,1066.0,1078.0
3,210055724397,2022,BACBBABBCAABCABBCBACBCBCBACABACABCBDBCBABAACA,BBCAACACDCABCBACCABABCBACBCABBBBBABCBACCBCBBA,ABACCCCBCBAADABBBACABBAABACCBCBBCDCACABABCAAC,BBBACCBABABBBBACDABBBBABCCBBCABBBBAACABBACBCB,DDCBBCCDDAADBAABEDABCEEAEBAEBECBDDEBEACCEACCD,CEDAAADBAECBCDDADEABCBECAEEDAEBABBCDECBABEACD,CDBEDACDEACAABDBDBDDCABEEECEABECABEEAAACBBEBAD...,CCCCBXCBABECBEABDDDBDECDBDCAACEECCEBDBAAAEDAE,...,NaN,NaN,NaN,NaN,NaN,NaN,1088.0,1058.0,1067.0,1077.0
4,210055097896,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2359791,210057381361,2022,ABCDEDCECADDEAEADBBCECDBACEEABEDCBBBBDACEDACA,EBCAAAEBEBEABBCACEABBABEADADCACACBDDEADEBCADA,ADBEDBACABEEADDAEDDCBEAAEADCDDECDAEBCABEDECAD,CEDBBCCDCBBABEAEDAABCEBDEDADBCAEBCBDECDABECAE,DDCBBCCDDAADBAABEDABCEEAEBAEBECBDDEBEACCEACCD,CEDAAADBAECBCDDADEABCBECAEEDAEBABBCDECBABEACD,CDBEDACDEACAABDBDBDDCABEEECEABECABEEAAACBBEBAD...,CCCCBXCBABECBEABDDDBDECDBDCAACEECCEBDBAAAEDAE,...,Rio de Janeiro,33.0,RJ,4.0,1.0,1.0,1088.0,1058.0,1067.0,1077.0
2359792,210055778839,2022,AECBDEDAACDACEBABCDDABBEDBCCEBBAABDCDBECCDACA,CBECEBBCDEACDCECAAADBADDEDBBCBDDCAADACEDADEAB,BDECDCCCEABABDDBBAEABECABAEAECCBEEDCADBDEDAAA,EBCBCABDCDCEDEABBDBCCEEBCDCDBACBBCBAEDDECACBE,ADBADABEABCEEEACCBDDADDCBBCCAEBAEBEBEACCCDDDE,CBECABBCDEACDCEDAAADBCDDAECBABAECBEBAEEDADEAB,BDECDAADCECCCDCCEBACBBAAAEECABABEECEBEEDCADBDB...,ECDABEBDCEECDBDCCCCBCXCBAACDBAAACEBABDDEDAEBE,...,NaN,NaN,NaN,NaN,NaN,NaN,1085.0,1057.0,1068.0,1075.0
2359793,210054996030,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2359794,210056203274,2022,AEDCAADCBCECBBEAADCCABECAACEDEBCEAAEDADBCBBBC,AECABECEABABCAABEAABACDCEEBAACEBADCABBDCDEAAE,DDCBDACAAEDDBBDCAABCAAADBCADCCDAAAEDEDEADAACA,BAEBACADABBDECBBDCBACCEBABADCADACEAEBEABCAADD,DDECDBEACCAEBEAEBBCCDDCBDDACBEACEABCEABEDADBA,ECBABCDDAAECBCBECAEBAEACDEEDABBCDDEABCEDAAADB,DECDBDCEAADDBCABEDCAAADCCECEEBABEEAAABDBCCCABE...,BEEDAEABDDCEBDBAAAAACXCBCCCBCCDBDEECBDCABEECD,...,Santa Inês,21.0,MA,2.0,1.0,1.0,1087.0,1056.0,1066.0,1078.0
2359795,210054755820,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1]:
new_df.to_csv('./colunas_descartadas.csv', index=False)

NameError: name 'new_df' is not defined

In [15]:
df.shape

(2359796, 76)